// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$body-font-family: 'Montserrat', sans-serif;
$btn-text-transform: none;
$primary : #ac1e26;
$secondary: #fcb142;
$text-field-outlined-fieldset-border:2px solid $secondary !default;